*{
    margin: 0px auto;
    padding: 0px;
}

.navbar{
	width: 100%;
    height: 100 px;
	background-color: white;
	position: fixed;
}


#a_rooms{
width: 25%; 
height: 300px; 
border-style: solid; 
border-radius: 10px; 
margin-top: 5px; 
}

.footer{
	height: 60px;
	background-color: white;
}
ul{
	width: 80%;
    margin: auto;
}

ul li{
	color: black;	
    float:left;
    list-style: none;
    width: auto;
    height: 30px;
	margin-left: 20px;
	margin-right: 20px;
    text-align: center;
    line-height: 50px;
    margin-top: 22px;
	margin-bottom: 20px;
}
#logout{

float: right;

}

a{
    text-decoration: none;
    display: inline-block;
    font-size:20px;
    color:black;
    font-family: Gotham;
}

.container{
	margin-left: 200px;
	margin-right: 200px;
}

.search{
	border-radius: 20px 20px 20px 20px;
	border-color: black;
	height: 30px;
	width: 300px;
}

.table-noborder{
	border-spacing: 30px;
}

.zoom:hover {
  transform: scale(1.1);
}

.button {
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:16px;
  font-family: Gotham;
   }

.loginBox {
    padding: 1em 2em;
    width: 90%;
    margin: auto;
    background-color: rgb(236, 236, 236);
    box-shadow: 0 0 5px 2px #555555;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Gotham;
}

.loginBox > p {
    text-align: center;
    margin-top: 0;
    font-size: 1.5em;
    font-family: Gotham;
}

