@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800');

html body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background-color: #EEEEEE;
    color: #333333;
}

* {
    box-sizing: border-box;
}

.top {
    position: fixed;
    width: 100%;
    background-color: rgb(236, 212, 104);
    padding: 0 3em;
    z-index: 5;
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, .15);
}

.top #menuItems {
    width: 30%;
    float: left;
    display: flex;
    flex-direction: row;
}

#menuItems a {
    text-decoration: none;
    color: #333333;
    transition: background-color .08s linear;
}

#menuItems a#active {
    font-weight: bold;
}

#menuItems a:hover {
    background-color: rgba(255, 255, 255, .2);
}

#menuItems a div {
    padding: 1em;    
}

.userOptions {
    float: right;
    padding: 1em 0;
}

.userOptions span {
    padding-right: .75em;
    border-right: 1px solid #333333;
    margin-right: .5em;
}

.userOptions a {
    text-decoration: none;
    color: #333333;
}

.userOptions a:hover {
    text-decoration: underline;
}

.underlay {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 54px;
}

.dataContain {
    padding: 2em 4em;
    position: relative;
}

h4 {
    
}

.emptyNotif {
    width: 100%;
    text-align: center;
    padding: 1em;
    background: rgba(236, 212, 104, .5);
}

.emptyNotif p {
    margin: 0;
}

.emptyNotif a {
    color: #333333;
}

table {
    width: 100%;
    height: auto;
    border: 0;
    border-collapse: collapse;
}

table tr {
    
}

table tr:nth-child(even) {
    background: #DDDDDD;
}

table tr:hover {
    background: rgb(255, 239, 170);
}

table tr td {
    padding: 1em;
}

table tr td:nth-child(1) {
    width: 70%;
}

table tr td:nth-child(2) {
    padding: .2rem;
}

table tr td a {
    width: 49%;
    padding: .7rem 2rem;

    border: .1rem solid rgb(236, 212, 104);
    
    text-decoration: none;
    color: #333333;
}

table tr td a:first-child {
    background: rgb(236, 212, 104);
}

/*
table tr td button {
    font-family: 'Montserrat', sans-serif;
    width: 49%;
    padding: .5em 1em;
    border: 2px solid #777777;
    background: #EEEEEE;
    opacity: 0;

    transition: all .07s linear;
    cursor: pointer;
}

button[name=edit] {
    border: 1px solid rgb(236, 212, 104);
}

button[name=edit]:hover {
    background: rgb(236, 212, 104);;
}
button[name=cancel] {
    border: 1px solid rgb(194, 66, 66);
}

button[name=cancel]:hover {
    background: rgb(194, 66, 66);
    color: #FFFFFF;
}

table tr:hover td button {
    opacity: 1;
} */

.popupBoxContain {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);

    display: none;
    align-content: center;
}

.popupBox {
    width: 600px;
    background: #EEEEEE;
    margin: auto;
    padding: 2em;

    border: 0;
    border-radius: .15em;

    overflow-y: auto;
}

.popupBox h3 {
    text-align: center;
    margin-top: 0;
}

.popupBox span {
    padding-right: .5em;
}

#room-select {
    width: auto;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(236, 212, 104);
    height: 2.5em;
    border-radius: .1em;
    font-family: 'Montserrat', sans-serif;
    padding: 0 .5em;
}

.popupBox table {
    width: 100%;
    height: 300px;
    margin: 1em 0;

    background: #DDDDDD;
}

.inputBoxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.inputBoxes div {
    width: 49%;
}

.inputBoxes p {
    margin-bottom: .5em;
}

.inputBoxes input {
    width: 100%;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(236, 212, 104);
    height: 2.5em;
    border-radius: .1em;
    font-family: 'Montserrat', sans-serif;
    padding: 0 .5em;
}

.input-button {
    margin-top: 2em;
}

.input-button button {
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    border: .1em solid rgb(236, 212, 104);
    border-radius: .1em;
    background: none;
    width: 100%;
}

#confirm {
    border: .1em solid rgb(236, 212, 104);
}

#confirm:hover {
    background: rgb(236, 212, 104);
}

#cancel {
    border: .1em solid rgb(189, 77, 77);
}

#cancel:hover {
    background: rgb(189, 77, 77);
    color: #FFFFFF;
}

.confirmDel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);

    display: none;
    align-content: center;
}

.dialog {
    width: 400px;
    background: #EEEEEE;
    margin: auto;
    padding: 2em;

    border: 0;
    border-radius: .15em;
}

.dialog > p {
    margin-top: 0;
}

.choices {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.choices div {
    width: 49%;
    justify-content: space-between;
}

.choices div button {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background: none;
    border: .1em solid rgb(236, 212, 104);
    border-radius: .15em;
    padding: 1em;
    cursor: pointer;
    transition: all .07s linear;
}

.choices div button:hover {
    background: rgb(236, 212, 104);
}